<ion-menu contentId="main-content" side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filters</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item lines="full">
        <ion-select
          label="Pokedex Type"
          labelPlacement="stacked"
          [value]="userSettings.pokedexType"
          (ionChange)="onPokedexTypeChange($event.detail.value)"
        >
          @for (option of pokedexTypeOptions; track option.value) {
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-item lines="full">
        <ion-select
          label="Shiny Filter"
          labelPlacement="stacked"
          [value]="userSettings.shinyFilter"
          (ionChange)="onShinyFilterChange($event.detail.value)"
        >
          @for (option of shinyFilterOptions; track option.value) {
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          }
        </ion-select>
      </ion-item>

      @for (option of toggleOptions; track option.label) {
        <ion-item lines="full" [title]="option.tooltip">
          <ion-toggle [checked]="option.isOn" (ionChange)="option.command()">
            {{ option.label }}
          </ion-toggle>
        </ion-item>
      }

      <ion-item lines="full">
        <ion-select
          label="Region Filter"
          labelPlacement="stacked"
          [value]="userSettings.regionFilter"
          (ionChange)="onRegionFilterChange($event.detail.value)"
        >
          @for (option of regionFilterOptions; track option.value) {
            <ion-select-option [value]="option.value">{{ option.label }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-menu-toggle menu="end">
        <ion-button expand="block">Done</ion-button>
      </ion-menu-toggle>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
