<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ headerText || 'GO Gather' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="exportBundle()">Export</ion-button>
      <ion-button (click)="triggerImport()">Import</ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group [multiple]="true">
    @for (generation of generationToPokemonMap; track generation.generationName) {
      <app-poke-group [generation]="generation"></app-poke-group>
    }
  </ion-accordion-group>
</ion-content>
