<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="start">
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>GO Gather</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="gather-filter">
        <ion-icon name="filter"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar
      #searchbar
      placeholder="Search Pokémon"
      [value]="searchTerm"
      (ionInput)="onSearchChange($event.detail.value ?? '')"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <div class="gather-scroll-region">
    <ion-toolbar color="light" class="total-counter-toolbar">
      <ion-title size="small">{{ headerText || 'GO Gather' }}</ion-title>
    </ion-toolbar>

    @if (showStickyBar) {
      <div class="sticky-header-bar">
        <div class="generation-line">
          {{ stickyGenerationName }} ({{ stickyGenerationCaught }}/{{ stickyGenerationTotal }})
        </div>
      </div>
    }

    <cdk-virtual-scroll-viewport
      class="gather-viewport"
      (scrolledIndexChange)="onScrolledIndexChange($event)"
    >
      <div
        *cdkVirtualFor="let row of flatRows; trackBy: trackGatherRow"
        class="gather-row"
        [class.species-card-row]="row.kind === 'species-card'"
        [class.generation-header-row]="row.kind === 'generation-header'"
      >
        @switch (row.kind) {
          @case ('generation-header') {
            <app-generation-header-row [generation]="row.generation"></app-generation-header-row>
          }
          @case ('species-card') {
            <app-gather-pokemon [speciesGroup]="row.speciesGroup"></app-gather-pokemon>
          }
        }
      </div>
    </cdk-virtual-scroll-viewport>
  </div>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="primary" size="small" (click)="focusSearch()">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
