<ion-menu contentId="main-content" side="start" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item lines="full" button routerLink="/search-strings">
          <ion-icon slot="start" name="search-circle" color="primary"></ion-icon>
          <ion-label>Search Strings</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item lines="full" button routerLink="/preset-queries">
          <ion-icon slot="start" name="pricetags" color="primary"></ion-icon>
          <ion-label>Preset Queries</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item lines="full" button routerLink="/settings">
          <ion-icon slot="start" name="cog" color="primary"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
