.multi-search-string {
  padding: 8px 0;

  .search-string-header {
    padding: 0 16px 4px;
    font-weight: 700;
    font-size: 1rem;
  }
}

.config-divider {
  margin: 4px 16px;
  border: none;
  border-top: 1px solid var(--ion-color-medium, #92949c);
}
