<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/gather"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Strings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (defaultConfig || shinyConfig) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Search Strings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group [multiple]="true">
          @if (defaultConfig) {
            <app-search-string [config]="defaultConfig"></app-search-string>
          }
          @if (shinyConfig) {
            <app-search-string [config]="shinyConfig"></app-search-string>
          }
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  }

  @if (altRegionConfigs) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Alternate Region Search Strings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-multi-search-string [configs]="altRegionConfigs"></app-multi-search-string>
      </ion-card-content>
    </ion-card>
  }

  @if (genderConfigs) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>Gender Search Strings</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-multi-search-string [configs]="genderConfigs"></app-multi-search-string>
      </ion-card-content>
    </ion-card>
  }
</ion-content>
